<tr>
  <td class="email-content" align="center">
    <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="font-size: 14px; color:#02130e;">

          Nous vous confirmons que votre paiement concernant la facture n°{{ invoice_number }} a bien été réalisé.<br>

          Numéro de facture : {{ invoice_number }}<br>
          
          Montant : {{ demand_total_amount_paid }} €<br>
          
          Bénéficiaire : {{ user_email }}<br>
          
          Date : {{ demand_payment_date }}<br>

          Pour retrouver les informations concernant cette facture, rendez-vous sur votre espace Soan en cliquant sur le bouton ci-dessous.<br>

        </td>
      </tr>
    </table>
  </td>
</tr>