<tr>
    <td class="email-content" align="center">
      <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="font-size: 14px; color:#02130e;">
  
            <b>{{ user_name }}</b> vous a envoyé une demande de paiement pour un acompte 
            {% if has_discount %}
              et vous propose de bénéficier d'un escompte.
            {% endif %}<br>

            Montant TTC de l'acompte : <b>{{ deposit_amount }} €</b><br>

            Montant TTC total : <b>{{ total_amount_ttc }} €</b><br>
            ===== A VOIR ICI =====
            Solde restant : <b>[Montant du solde] €</b><br> (<< SI ce n'est pas le solde)
            ===== FIN =====
            Bénéficiaire : <b>{{ user_company }}</b>><br>

            Date d'échéance de l'acompte : {{ demand_payment_date }}<br>

            {{ #if_document }}<br>

            ===== A VOIR ICI =====
            Montant TTC d'acompte après escompte : {{ total_amount_ttc }} €<br>
            
            Pour un paiement avant le : {{ discount_payment_date }}<br>

            Valeur de l'escompte : {{ total_amount_ttc }} €<br>
            ===== FIN =====
            Pour la régler, il vous suffit de cliquer sur le bouton ci-dessous.<br>
  
          </td>
        </tr>
      </table>
    </td>
  </tr>