<tr>
    <td class="email-content" align="center">
      <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="font-size: 14px; color:#02130e;">

            La mise en place du paiement récurrent a été initiée par votre client <b>{{ #creditor_user_denomination }}</b> concernant la demande de paiement <b>n°{{ payin_number }}</b>.<br>

            Montant TTC de l'échéance : <b>{{ demand_recuring_amount }} €</b><br>
            Client : <b>{{ #creditor_user_denomination }}</b><br>
            Récurrence : <b>{{ demand_recuring_delay }} {{ demand_recuring_type }}</b><br>
            Date de la première échéance : <b>{{ demand_first_recuring_date }}</b><br>
            
            {{ #if_document }}
            
            Les échéances seront prélevées automatiquement sur le compte de votre client aux dates indiquées. 
            
            Pour toute question, n'hésitez pas à écrire à support@soan-solutions.io.            
              
          </td>
        </tr>
      </table>
    </td>
  </tr>