<tr>
    <td class="email-content" align="center">
      <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="font-size: 14px; color:#02130e;">
  
            {{ user_name }} vous a envoyé une demande de paiement 
            {% if has_discount %}
              et vous propose de bénéficier d'un escompte.
            {% endif %}<br>

            Montant TTC de la demande : {{ payin_amountTTC }} €<br>

            Bénéficiaire : {{ user_company }}<br>

            Date d'échéance : {{ demand_payment_date }}<br>

            {{ #if_document }}<br>

            Montant TTC de la demande après escompte : {{ payin_amountTTC }} €<br>

            Pour un paiement avant le : {{ discount_payment_date }}<br>

            Valeur de l'escompte : {{ total_discount_amount_ttc }} €<br>

            Pour la régler, il vous suffit de cliquer ici sur le bouton ci-dessous.<br>
          </td>
        </tr>
      </table>
    </td>
  </tr>